<template>
    <transition name="fade">
        <div>
            <a v-if="canDelete" @click.prevent="deleteMovie" class="btn btn-danger" :href="'/movies/delete/' + id">Delete</a>
            <a v-else class="btn btn-danger disabled">Deleted</a>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                canDelete: true
            }
        },
        props: ['id'],
        methods : {
            deleteMovie() {
                const url = '/movies/delete/' + this.id;
                const vm = this;
                axios.delete(url)
                    .then(function (response) {
                        vm.canDelete = false;
                        window.location.href = '/movies'
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        mounted() {
            console.log('Delete mounted.')
        }
    }
</script>
