<template>
    <div class="mt-5">
        <div v-for="movies in groupedResults" class="row">
        <movie-card v-for="movie in movies" :movie="movie" :key="movie.id"></movie-card>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                movies: []
        }
        },
        computed: {
            groupedResults() {
                return _.chunk(_.orderBy(this.movies, 'average', 'desc'), 4)
            },
        },
        mounted() {
            const vm = this;
            axios.get('/movies/fetch-list')
                .then(function (response) {
                    vm.movies = response.data;
                    let userCount = _.uniqBy(vm.movies, 'user_id').length
                        for (let i = 0; i < vm.movies.length; i++){
                            let average = 0;
                                for (let x = 0; x < vm.movies[i].ratings.length; x++){
                                    average = average + vm.movies[i].ratings[x].rating
                                }
                                average = average / userCount;
                                vm.movies[i].average = average;
                        }

                });
        }
    }
</script>
