<template>
    <div class="col-lg-3 px-0">
        <!--<div class="card bg-black text-white">-->
                <!--<div class="row">-->
                    <!--<div class="col-6"><img :src="'http://image.tmdb.org/t/p/w342' + movie.poster_path" alt="" class="img-fluid"></div>-->
                    <!--<div class="col-6">-->
                        <!--<h1 class="card-title">{{ movie.title }}</h1>-->
                        <!--<p>{{ movie.user.name }}</p>-->
                    <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="movie-card">
            <img class="img-fluid movie-image" :src="'http://image.tmdb.org/t/p/w342' + movie.poster_path" alt="">
            <div class="movie-overlay">
                <div class="row mx-0">
                <h1 class="text-white" style="display:inline">{{ movie.title }}</h1>
                <p class="ml-auto text-white pr-1">{{ movie.average }}</p>
                </div>
                <div class="overlay-info">
                    <p class="text-white">{{ movie.release_date }}</p>
                    <p class="text-white" v-for="rating in movie.ratings">{{ rating.user_name }}'s Rating: {{ rating.rating }}</p>
                    <p class="text-white">{{ movie.overview }}</p>
                </div>
            </div>
        </div>
        <div class="movie-card-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="" class="btn btn-warning">Comment</a>
                <delete-movie-button :id="movie.id"></delete-movie-button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['movie'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
