<template>
    <div class="mt-5">
        <draggable v-model="movies" @start="drag=true" @end="drag=false">
            <div class="movie-draggable" v-for="movie in movies"><i class="fa fa-arrows-v" aria-hidden="true"></i> {{ movie.title }}</div>
            <a class="btn btn-warning mt-1 ml-auto" href="#" @click.prevent="saveRatings">Save</a>
        </draggable>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    export default {
        components: {
            draggable,
        },
        data() {
            return {
                movies: [],
                order: []
        }
        },
        methods : {
          saveRatings() {
              this.order = [];
              for(let i = 0; i < this.movies.length; i++){
                  this.order.push(this.movies[i].id)
              }
              this.order.reverse();
              axios({
                  method: 'post',
                  url: '/movies/post-ratings',
                  data: {
                      order: this.order
                  }
              });
          }
        },
        computed: {
          orderMovies() {
              const vm = this;
          }
        },
        mounted() {
            const vm = this;
            axios.get('/movies/fetch-list')
                .then(function (response) {
                    vm.movies = response.data;
                    let userCount = _.uniqBy(vm.movies, 'user_id').length
                    for (let i = 0; i < vm.movies.length; i++){
                        let average = 0;
                        for (let x = 0; x < vm.movies[i].ratings.length; x++){
                            average = average + vm.movies[i].ratings[x].rating
                        }
                        average = average / userCount;
                        vm.movies[i].average = average;
                    }
                    vm.movies = _.orderBy(vm.movies, 'average', 'desc')
                });
        }
    }
</script>
