
// Fonts
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Layout, Body, Footer
html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background: #070000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #070000, #4e270e, #070000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #070000, #4e270e, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.push {
  height: 60px;
}

footer {
  height: 60px; /* .push must be the same height as .footer */
  line-height: 60px;
}


// Welcome page
#welcome {

}
.btn-warning{
  background-color: $orange;
  border-color: $orange;
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: #2d2d2c;
}

.movie-draggable {
  padding: 1rem;
  background-color: #393a3c;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.movie-draggable:hover {
  background-color: darken(#393a3c, 10%);
}
.movie-card {
  position: relative;
  z-index: 1;
}
.movie-image {
  position:absolute;
  z-index:2;
}
.overlay-info {
  display: none;
}
.movie-card:hover .overlay-info {
  display: block;
  background-color: rgba(55,55,55,.9);
}
.movie-overlay {
  position: relative;
  z-index: 3;
  height: 428px;
}
.oct-font {
  font-family: 'Amatic SC', cursive;
  font-size:150%;
}

#nav-logo-text {
  font-size: 3rem;
  padding: 0;
  margin-top: -15px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

#october-nav {
  li {
    a {
      font-family: 'Amatic SC', cursive;
      color: white;
      font-size: 200%;
    }
  }
}