<template>
    <transition name="fade">
    <div>
        <a v-if="canAdd" @click.prevent="addMovie" class="btn btn-warning" :href="'/movies/add/' + id">Add</a>
        <a v-else class="btn btn-warning disabled">Added</a>
    </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                canAdd: true
            }
        },
        props: ['id', 'existing'],
        watch: {
            id: function(newVal, oldVal) {
                if (this.existing.includes(newVal)) {
                    this.canAdd = false;
                } else {
                    this.canAdd = true;
                }
            }
        },
        methods : {
            addMovie: function () {
                const url = '/movies/add/' + this.id;
                const vm = this;
                axios.get(url)
                    .then(function (response) {
                        vm.canAdd = false;
                    })
                    .catch(error => {
                        console.log(error.response)
                        if (error.response.status == 401){
                            window.location.href = '/login'
                        }
                    });;
            }
        },
        mounted() {
            if (this.existing.includes(this.id)) {
                this.canAdd = false;
            }
        }
    }
</script>
