<template>

    <div>
        <div class="row mt-5 justify-content-center">
            <div class="col-6 mx-md-auto">
        <movie-input @searched="setKeyword"></movie-input>
            </div>
        </div>
        <movie-results :keyword="searchValue"></movie-results>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                searchValue: ''
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            setKeyword: function (keyword) {
                this.searchValue = keyword;
            },
        }
    }
</script>
