<template>
   <div class="mt-5">
       <transition name="fade">
           <div>
       <div v-if="searched" v-for="movies in groupedResults" class="row mt-3">
       <div v-for="movie in movies" class="col-lg-3">
               <div class="card bg-black text-white">
                   <img :src="'http://image.tmdb.org/t/p/w342' + movie.poster_path" alt="" class="card-img-top">
                   <div class="card-body">
                       <h1 class="card-title">{{ movie.title }}</h1>
                       <p class="card-text">{{ movie.overview }}</p>
                       <add-movie-button :id="movie.id" :existing="existing"></add-movie-button>
                   </div>
               </div>
       </div>
       </div>
           </div>
       </transition>
   </div>
</template>

<script>
    export default {
        data() {
            return {
                results: '',
                searched: false,
                existing: '',
            }
        },
        props: ['keyword'],
        watch: {
          keyword: function(newVal, oldVal) {
              const vm = this;
              const url = '/search/' + newVal;
              axios.get(url)
                  .then(function (response) {
                      vm.results = response.data;
                      vm.searched = true;
                  });
              this.fetchIds();
          }
        },
        computed: {
          groupedResults() {
              return _.chunk(this.results, 4)
          }
        },
        methods: {
            fetchIds : function () {
                const vm = this;
                axios.get('/movies/fetch-ids')
                    .then(function (response) {
                        vm.existing = response.data;
                    });
            }
        },
        mounted() {
            this.fetchIds();
        }
    }
</script>
