<template>

    <div>
        <form v-on:submit.prevent="emit">
            <div class="input-group">
                <input type="text" v-model="keyword" class="form-control form-control-lg" placeholder="Search for..." aria-label="Search for...">
                <span class="input-group-btn">
        <button class="btn btn-warning btn-lg" type="submit">Go!</button>
      </span>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                keyword: ''
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            emit: function () {
                this.$emit('searched', this.keyword)
            }
        }
    }
</script>
